<div class="values">
    <div class="values__container">
        <div class="values__box">
            <div class="values__image-container">
                <img loading="lazy" class="values__image" src="assets/values-icon-1.png" alt="Icone que simboliza resultados" />
            </div>
            <h3 class="values__title">Resultados</h3>
            <p class="values__text">
                Donec in vestibulum elit. Aliquam finibus facilisis elit, sit amet malesuada nibh tempor sed. 
                Aliquam consequat ultrices fringilla. Sed id quam sollicitudin mi ultricies feugiat a vel velit. 
                Pellentesque finibus vel tortor sed hendrerit. Vestibulum eu sem sapien.
            </p>
        </div>
        <div class="values__box">
            <div class="values__image-container">
                <img loading="lazy" class="values__image" src="assets/values-icon-2.png" alt="Icone que simboliza qualidade de vida" />
            </div>
            <h3 class="values__title">Qualidade de vida</h3>
            <p class="values__text">
                Donec in vestibulum elit. Aliquam finibus facilisis elit, 
                sit amet malesuada nibh tempor sed. Aliquam consequat ultrices fringilla.
            </p>
            <a href="/" class="values__link">dignissim quis  <img src="assets/icons/arrow-right.svg" alt="vagas em aberto no Elo7 (seta para a direita)"></a>
        </div>
        <div class="values__box">
            <div class="values__image-container">
                <img loading="lazy" class="values__image" src="assets/values-icon-3.png"  alt="Icone que simboliza nossos valores como empresa" />
            </div>
            <h3 class="values__title">Nossos valores</h3>
            <p class="values__text">
                Donec in vestibulum elit. Aliquam finibus facilisis elit, sit amet malesuada nibh tempor sed. 
                Aliquam consequat ultrices fringilla. Sed id quam sollicitudin mi ultricies feugiat a vel velit. 
                Pellentesque finibus vel tortor sed hendrerit. Vestibulum eu sem sapien.
            </p>
        </div>
    </div>
</div>