.team {
    &__title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        font-weight: 600;
        margin-top: 80px;
        padding: 0 40px;
    }

    &__container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        max-width: 1500px;
        margin: 32px auto 80px;
        flex-wrap: wrap;

        @media (min-width: 600px) {
            flex-wrap: nowrap;
        }
    }

    &__image {
        width: 100%;
        padding: 24px 16px;
    }
}