<div class="statement">
    <div class="statement__container">
        <img class="statement__image" loading="lazy" src="assets/statement-image.jpg"  alt="Imagem de uma mulher trabalhando como forma de ilustração do depoimento">
        <div class="statement__texts">
            <h2 class="statement__title">Palavra da vendedora</h2>
            <h4 class="statement__subtitle">Sed rutrum condimentum</h4>
            <p class="statement__description">Donec in vestibulum elit. Aliquam finibus facilisis elit, sit amet malesuada 
                nibh tempor sed. Aliquam consequat ultrices fringilla. 
                Sed id quam sollicitudin mi ultricies feugiat a vel velit. Pellentesque 
                finibus vel tortor sed hendrerit. Vestibulum eu sem sapien. 
                Nullam mollis, leo ut finibus euismod, 
                arcu eros aliquam augue, in congue neque nulla vehicula purus.
            </p>
        </div>
    </div>
</div>