<div class="jobs">
    <img class="jobs__banner" loading="lazy" src="assets/jobs-image.png"  alt="Imagem de uma pessoa trabalhando em primeira pessoa">
    <div class="jobs__container">

        <div class="jobs__controls">
            <h2 class="jobs__title">Vagas em aberto</h2>
    
            <div class="jobs__search">
                <input type="text" placeholder="nome da vaga" data-cy="search" [formControl]="searchControl">
                <img src="assets/icons/search.svg" alt="Icone de pesquisa">
            </div>
        </div>
        @if (jobs) {
        <div class="jobs__list">

            <ul class="jobs__group" data-cy="jobs__group">
                <h4 class="jobs__group-title">Desenvolvimento</h4>

                @if (!loading) {
                    @for (job of jobs.data; track job.title) {
                        <li class="jobs__item">
                            <h5 class="jobs__item-title">{{ job.title }}</h5>
                            <span class="jobs__item-location">{{ job.location }}</span>
                        </li>
                    } @empty {
                        <li class="jobs__item">
                            Não há vagas
                        </li>
                    }
                } @else {
                    <div class="jobs__loading"></div>
                }
            </ul>
        </div>

        <mat-paginator 
            [length]="jobs.totalJobs"
            [hidePageSize]="true"
            [pageSize]="jobs.pageLimit"
            (page)="changePage($event)"
            #paginator
        >
        </mat-paginator>
        }

    </div>
</div>