<div class="hero">
    <img priority ngSrc="assets/hero-image.webp" alt="Imagem do site Elo7 com a logo da empresa e pessoas trabalhando em computadores" fill class="hero__image"/>
    <h1 class="hero__title">trabalhe no elo7</h1>
</div>

<div class="hero-description">
    <p class="hero-description__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et viverra orci. Praesent consequat dolor tellus, eget viverra risus hendrerit non. Sed rutrum condimentum maximus. Donec pellentesque libero eu eros sagittis.
    </p>
    <hr class="hero-description__divisor" />
    <a href="#jobs" class="hero-description__link">vagas em aberto <img src="assets/icons/arrow-right.svg" alt="vagas em aberto no Elo7 (seta para a direita)"></a>
</div>